@page "/facturas"
@inject Servicios.IFacturaServices facturaService;

<h3>Facturas</h3>
<div class="row">
    <div class="col">
        <label class ="form-label">Opciones de busqueda (Nombre del cliente)</label>
        <input class="form-control" @bind="Filtrar" />
        <span class="btn btn-secondary" @onclick="Buscar">Buscar</span>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Cliente</th>
            <th scope="col">Fecha</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
        @if(Registros != null && Registros.Any())
        {
            @foreach (var factura in Registros)
            {
                <tr>
                    <th scope="row">@factura.Numero</th>
                    <td>@factura.Cliente</td>
                    <td>@factura.Fecha.ToString("dd/MM/yyyy")</td>
                    <td>@factura.Total.ToString("N2")</td>
                </tr>
            }
        }
    </tbody>
</table>
@code {
    public List<Data.Factura> Registros { get; set; } = new();
    public string Filtrar { get; set; } = "";
    void Buscar()
    {
        Registros = facturaService.Consultar(Filtrar);
        StateHasChanged();
    }
    protected override Task OnInitializedAsync()
    {
        Buscar();
        return base.OnInitializedAsync();
    }
}
